<template>
  <div class="logos-wrapper">
    <h2 class="title-header">Find Best Logo</h2>
    <div class="item-logo">
      <img class="logo" src="../assets/netflix.png" alt="Netflix" />
    </div>
    <div class="item-logo">
      <img class="logo" src="../assets/spotify.png" alt="Spotify" />
    </div>
    <div class="item-logo">
      <img class="logo" src="../assets/twitch.png" alt="Twitch" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Logos"
};
</script>

<style scoped>
.logos-wrapper {
  width: 70%;
  overflow: hidden;
  margin: auto;
  background: grey;
}

.title-header {
  margin-bottom: 70px;
}

.item-logo {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background: blue;
}

.item-logo .logo {
  width: 150px;
  height: 150px;
}
</style>